body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

#mainBio {
    float: left;
    width: 70%;
}

header {
    color: #eee;
    font-size: 28px;
}

container {
    margin: 0 auto;
}

#contactInfo {
    float: left;
    width: 30%;
    line-height: 1.5;
}

a:link {
    color: #d21034;
}

a:visited {
    color:#d21034;
}

#bioImage {
    float: left;
    width: 200px;
    margin: 50px;
}